html, body { padding:0; margin:0; height: 100%; font-family:arial, sans-serif; }



html, body, div,p {-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */

-moz-box-sizing: border-box;    /* Firefox, other Gecko */

box-sizing: border-box; }



body { background: url('img/background.jpg'); }



.logo { margin:0 !important;, text-align:center; padding-left:9%; }



.logo a {

    background: url(img/isabela-figueiredo.png) no-repeat left center;

    text-indent: -9999px;

    display: inline-block;

    width: 840px;

    height: 159px;

    text-align:center; }



.content { background:#FFFFFF; height:100%; width: 80%; margin:0 auto; padding-top:20px; }

	.content header h2 { color:#FFFFFF; }

.menu { padding:20px; text-align:center; }

.menu ul { list-style-type: none; border-top:solid 2px #000; border-bottom:solid 2px #000; padding:10px 20px; }

.menu ul li { display: inline; text-transform:uppercase; margin:0 50px; }

.menu ul li a { color:#000; text-decoration:none; }